html
    head
        style
            include app.css
    body
        h1 An example REST API and an example GRAPHQL API in the same place

        a(class="button graphql" href="/graphql") GraphQL
        a(class="button rest" href="/rest") REST
